<ion-view view-title="Tracking">
  <ion-content scroll="false">
  	<div id="map2"></div>
		<div class="window-details">
	  	<div class="popup-detail">
	      <div class="model-header">
	        <i class="fa fa-close fa-2x" ng-click="closeChat()"></i>
	      </div>
	      <div class="model-detail">
          <div class="model-left col-sm-6">
            <div class="message-other"><span class="text-msg">message</span><br/><span class="time-text" >13:20</span></div>
          </div>
          <div class="model-right col-sm-6">            
          </div>            
	     </div>
     	 <div class="chat-input row">
      		<div class="col-sm-8 padding-reset" style="width:90%;">
      		<input id="msg" type="text" ng-model="message" my-enter="send(message)" class="form-control" placeholder="Type a message">
      		</div>
      		<div class="col-sm-4 padding-reset">
      			<button class="btn" ng-click="send(message)"><i class="ion-android-send"></i></button>
      		</div>
      	</div>
	  </div>
	</div>  
  </ion-content>
</ion-view>  