<ion-view view-title="Maps">
  <ion-content scroll="false">
      <div id="floating-panel2"  ng-click="goToDir()">
        <div id="dir-icon" class="directions"></div>
    </div>
  	<heat-map data="dataset" id="id"></heat-map>
    <div class="window-details">
      <div class="popup-detail">
          <div class="model-header">
            <i class="fa fa-close fa-2x" ng-click="closePopup()"></i>
          </div>
          <div class="model-detail">            
          </div>
      </div>
    </div>  
  </ion-content>
</ion-view>
